<nav>

    <div class="  flex text-center bg-opacity-70 justify-around my-4 items-center">
        <div class=" text-xl  md:text-2xl lg:text-4xl z-20">
            <a href="/">NomNom</a>
        </div>
        <div class="hidden lg:flex">
            <ul class=" hidden lg:flex gap-6 text-xl ">
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </div>
        <div class="lg:hidden">
            <button class="hamburger "><i class="text-2xl fa-solid fa-bars"></i></button>
             
        </div>
    </div>
    <div class=" hidden absolute left-0 top-0 bg-gray-900 min-w-full max-h-[40vh] z-10 mob-nav">
        <button class="close absolute  right-0 my-8 mx-4 md:mx-10 "> <i class="fa-solid fa-xmark text-2xl"></i></button>
        <ul class="my-24 mx-4 md:mx-20 flex flex-col gap-8 text-xl ">
            <li><a href="/">Home</a></li>
            <li><a href="/register">signup</a></li>
            <li><a href="/login">signin</a></li>
            <li><a href="/profile">user</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
    
</nav>
