{% include 'components/header.html' %}
<section class=" bg-[#fdfae5]">
    <div class="py-8 px-4 mx-auto max-w-3xl lg:py-16">
        <h2 class="mb-4 text-2xl font-bold">Add a new recipe</h2>
        <form action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" method="POST">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2 mr-40">
                    <label for="title" class="block mb-2 text-sm font-medium ">Recipe title</label>
                    <input type="text" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type recipe title" value="{{recipe.title}}" required="">
                </div>
                <div class="sm:col-span-2">
                    <label for="subtitle" class="block mb-2 text-sm font-medium ">Subtitle</label>
                    <textarea id="subtitle" name="subtitle" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300  " placeholder="Your subtitle here">{{recipe.subtitle}}</textarea>
                </div>
                
                <div class="w-full">
                    <label for="cooking-time" class="block mb-2 text-sm font-medium">Cooking Time (minutes)</label>
                    <input type="number" name="cooking_time" id="cooking-time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" placeholder="60" required="" value="{{recipe.cooking_time}}">
                </div>

                <div class="w-full">
                    <label for="difficulty-level" class="block mb-2 text-sm font-medium ">Difficulty Level</label>
                    <input type="text" name="difficulty_level" id="difficulty-level" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" placeholder="Easy/Medium/Hard" value="{{recipe.difficulty_level}}">
                </div>
                <div class="col-span-2">
                    <label for="image" class="block mb-2 text-sm font-medium ">Image URL</label>
                    <input type="text" name="image" id="image" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-black block w-full p-2.5 " placeholder="Image URL" value="{{recipe.image}}">
                </div>
                <div class="w-full">
                    <label for="ingredients" class="block mb-2 text-sm font-medium text-gray-900 ">Ingredients (comma-separated)</label>
                    <input type="text" name="ingredients" id="ingredients" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Ingredient 1, Ingredient 2, ..." value="{{recipe.ingredients}}">
                </div>
                <div class="col-span-2">
                    <label for="instructions">Instructions:</label>
                    <textarea id="instructions" name="instructions" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border  " placeholder="Recipe instructions" required="">{{recipe.instructions}}</textarea>
                </div>
                <button type="submit" class="text-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save Recipe</button>
            </div>
           
        </form>
        
    </div>
  </section>
{% include 'components/footer.html' %}
</body>
</html>