<footer class="px-12 lg:px-40 mt-40 bg-black text-white relative text-xs">
    <nav class="flex flex-col lg:flex-row justify-between items-center text-center pt-4 ">
      <div>
  
        <div class="text-center items-center flex lg:justify-between justify-center">
          <h2 class="text-3xl ">Chronicle Avenue</h2>
        </div>
        <ul class="flex lg:flex-row flex-col gap-6 text-center items-center py-8 ">
          <li><a href="#" class="btn">About</a></li>
          <li><a href="#" class="btn">Careers</a></li>
          <li><a href="#" class="btn">Events</a></li>
          <li><a href="#" class="btn">Products</a></li>
          <li><a href="#" class="btn">Support</a></li>
        </ul>
      </div>
      <!-- social media -->
      <div class="pb-4">
        <ul class="flex  gap-8 items-center text-center justify-center ">
          <li><a href="#" class="btn"><i class=" text-2xl fa-brands fa-facebook"></i></a></li>
          <li><a href="#" class="btn"><i class=" text-2xl fa-brands fa-square-twitter"></i></a></li>
          <li><a href="#" class="btn"><i class=" text-2xl fa-brands fa-pinterest"></i></a></li>
          <li><a href="#" class="btn"><i class=" text-2xl fa-brands fa-instagram"></i></a></li>
    
        </ul>
        <div class=" pt-10">
           Done by Suzzalx
        </div>
        </div>
      
  
      
    
  
  
    </nav>

  </footer>
